@font-face {
    font-family: sansbold;
    src: url(../fonts/mfrooneysansbold.otf);
}

#header-nav{
    background-color: #999999;
    border-radius: 0px;
    border: 2px solid black;
    position: relative;
}

.padding {
    padding-bottom: 60px;
}

/*just naming the company to the top left side of the navbar*/
.company-name{
    font-family: sansbold;
    font-size: 30px;
    position: absolute;
    left: 50px;
    top: 8px;
}

/*customizing the menu bar*/
.navbar-default .navbar-toggle{
    border: 3px solid black;
    height: 50px;
    width: 50px;
}
.navbar-default .navbar-toggle .icon-bar{
    height: 6px;
    width: 30px;
    background-color: black;
    position: relative;
    right: 3px;
}


.navbar-toggle:focus {
    border: 3px solid white;
}

/*here goes the modification of list items*/
.listname{
    font-family:sansbold;
    font-size: 20px;
    text-align: center;
    background-color: white;  
}
.box2{
    border: 1px solid black;
    padding: 4px;
}
.box1{
    margin-bottom: 4px;
}
.box3{
    margin-top: 4px;
}

#collapsable-nav{
    border-top: 2px solid black;
    background-color: white;
    
}
/*list item modification ends here*/

h1{
    font-family: sansbold;
    margin-bottom: 25px;
}
/*.row{
    margin: 0px;
    
}*/
.container-fluid{
    margin: 0px;
   
}
.box{
    height: 100px;
    background-color: #9999;
    margin: 2px;
}
.thirdbox{
    float: right;
}
